//font-weight
$f-eb:800;
$f-b: 700;
$f-mb : 600;
$f-m : 500;
$f-sm : 400;
$f-s : 300;

//Text
.t-left {
    text-align: left;
}
.t-right {
    text-align: right;
}
.t-center {
    text-align: center;
}

//Margin
.ml-10{
    margin-left: 10px;
}